<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PROG7311_Part2_POE_1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG7311_Part2_POE_1.styles.css" asp-append-version="true" />
    <link href="~/bootstrap.min (1).css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand home-link" asp-area="" asp-controller="Home" asp-action="Index">Homepage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                        @if (!User.Identity.IsAuthenticated)
    {


                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary mx-1" asp-area="" asp-controller="Home" asp-action="Privacy">Contact Us</a>
                        </li>

    }

else if (User.IsInRole("Farmer"))
{
    <li class="nav-item">
        <a class="nav-link btn btn-outline-success mx-1" asp-controller="Product" asp-action="Create">Add a Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-primary mx-1" asp-controller="Product" asp-action="MyProducts">View my Products</a>
    </li>
}


else
{
    <li class="nav-item">
        <a class="nav-link btn btn-warning text-white mx-1" asp-controller="Auth" asp-action="Register">Register a Farmer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info text-white mx-1" asp-controller="Product" asp-action="AllProducts">View Farmers' Products</a>
    </li>
}



                    </ul>
                </div>


                <ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
{
    var username = User.Identity.Name;
    var displayName = username?.Split('@')[0];

    <li class="nav-item">
        <span class="nav-link text-muted">Hello, @displayName!</span>
    </li>

    <li class="nav-item">
        <form asp-action="Logout" asp-controller="Auth" method="post" style="display:inline">
            <button type="submit" class="btn btn-login">Logout</button>
        </form>
    </li>
}
    else
    {
        <li class="nav-item">
            <a class="btn btn-login" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>



            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
