@model CreateProductViewModel

<h2>Add Product</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="Category"></label>
        <input asp-for="Category" class="form-control" />
        <span asp-validation-for="Category" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="ProductionDate"></label>
        <input asp-for="ProductionDate" class="form-control" type="date" />
        <span asp-validation-for="ProductionDate" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="ImageFile">Upload Image</label>
        <input asp-for="ImageFile" class="form-control" type="file" />
    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
</form>
